{% extends 'base.html.twig' %}

{% block title %}EMP
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

	<body class="home">
		<div class="container">

			<ol class="breadcrumb">
				<li>
					<a href="index">Accueil</a>
				</li>
				<li class="active">EMP</li>
			</ol>
			<div class="Nom-asso1">
				<h1 class="Nom-asso2">EMP Henri WALLON
				</h1>
			</div>
		</div>
		<div class="acces">
			<div class="container">
				<div class="repere">
					<table class="lienDirect">
						<tr>
							<td class="balise">
								<a href="#Presentation"><img src="{{ asset('images/logo.png') }}" alt="Presentation" width="50px" height="40px">
									Présentation</a>
							</td>
							<td class="balise">
								<a href="#Localisation"><img src="{{ asset('images/SAJ-localisation.webp') }}" alt="Localisation" width="50px">
									Accès</a>
							</td>
						</tr>
						<tr>
							<td class="balise">
								<a href="#accompagnée"><img src="{{ asset('images/SAJ-Admission.webp') }}" alt="equipe" width="50px">
									Admission</a>
							</td>
							<td class="balise">
								<a href="#equipe"><img src="{{ asset('images/SAJ-equipe.jpg') }}" alt="equipe" width="50px">
									Notre équipe</a>
							</td>

						</tr>
						<tr>
							<td class="balise">
								<a href="#accueil"><img src="{{ asset('images/SAJ-quotidien.webp') }}" alt="accueil" height="50px" width="50px">
									Public accueilli</a>
							</td>
							<td class="balise">
								<a href="#accompagnement"><img src="{{ asset('images/SAJ-quotidien.webp') }}" alt="accompagnement" height="50px" width="50px">
									Les accompagnement</a>
							</td>

						</tr>
						<tr>
							<td class="balise">
								<a href="#financement"><img src="{{ asset('images/SAJ-euros.webp') }}" alt="financement" height="50px" width="50px">
									Financement</a>
							</td>

						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="container">

			<div
				class="row">

				<!-- Article main content -->
				<article class="col-sm-8 maincontent" id="Presentation">
					<header class="page-header">
						<h1 class="page-title">A propos de nous</h1>
					</header>
					<h3>Présentation</h3>
					<img src="{{ asset('images/EMP_home.jpg') }}" alt="" class="img-rounded pull-left" width="300">
					<p>L’EMP Henri Wallon réactualise et modernise son projet d’établissement au regard :
																																																																																																						
																																																																																																										Des   lois   de   2002   rénovant   l'action   sociale   et   médico-sociale,   notamment l’affirmation et la promotion des droits des usagers, et de 2005 sur l'égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées
						<br><br>

						Du schéma d’organisation sociale et médico-sociale du Conseil Départemental  de Seine Saint Denis et la Région Ile De France.
						<br><br>

						Des   recommandations   des   bonnes   pratiques   professionnelles   élaborées   par l’ANESM articulées autour du texte cadre « Bientraitance : définition et mise en œuvre »
						<br><br>

						Du projet et des valeurs portées par l’Association LEILA depuis sa création en 1963.
						<br><br>

						Les valeurs et les grandes idées de ces quatre fondamentaux constituent le ciment qui relie et unifie toutes les parties du projet d’établissement. Au  regard  de  ces  ressources,  nous  insisterons  donc  particulièrement  dans  notre  projet d’établissement sur :

						<br><br><br></p>
					<h3>Des valeurs et des principes</h3>
					<br>
				</header>
				<p>Les valeurs qui guident notre action ont pour socle les grandes valeurs républicaines ainsi que la législation en matière de handicap.</p>
				<br>
				<p>
					<strong>
						I.&emsp;   Respect de la Personne, des Droits et des Libertés</strong>
				</p>
				<p>La référence permanente à la législation (lois 2002-2 et 2005) assure à la personne accueillie un respect de ses droits fondamentaux : vie privée, confidentialité, droit à l’information …
																																																																			La place centrale qu’occupe la personne accueillie lui assure un accompagnement qui prend en compte toute sa singularité et sa vulnérabilité grâce à une adaptation des professionnels à chaque situation.
					<br><br>

					Les représentants légaux sont informés de tout ce qui concerne le projet de la personne accueillie et sont des partenaires dans ce projet.
				</p><br>

				<p>
					<strong>II. &emsp;     Principes d’égalité et de non-discrimination</strong>
				</p>

			</p>


			<p>Notre idéal de justice sociale est réaffirmé à travers l’égalité de traitement qui est réservé à tous et par l’accompagnement proposé par notre service social.
				<br><br>


				Nous refusons toutes les  discriminations (origines, sexe, religion…) et acceptons, dans un   esprit de tolérance toutes formes de handicap qui sont conformes notre agrément.
				<br><br>


				Le respect de la loi 2005-102 du 11 février 2005 dite « La loi sur l’égalité des chances, la participation et la citoyenneté des personnes handicapées » renforce ces principes.
			</p>
			<br>

			<strong>III.  &emsp;    Bientraitance</strong>


			<p>La garantie d’un accueil individualisé et adapté ainsi que le suivi du projet par un référent unique et identifié  est un gage de la volonté de se mettre résolument dans le registre de la bientraitance.
				<br><br>

				La démarche qualité renforce la réflexion sur ce concept devenu incontournable dans la vie des établissements. C’est l’outil, par excellence, de la promotion de la bientraitance.
				<br><br>

				La sensibilisation  à la culture de la résilience nous pousse à croire en permanence aux possibilités d’évolution de la personne accueillie.
			</p>
			<h3>Les missions</h3>
			<p>L’EMP   Henri Wallon a pour  mission  d’accompagner  de  manière  individuelle,  dans  le respect  de  leur  singularité et  le consentement éclairé de ses représentants légaux, des enfants de 5 à 16 ans, des 2 sexes.
				<br><br>
				Cet accompagnement pluridisciplinaire fait appel à des actions éducatives, thérapeutiques, pédagogiques et sociales quotidiennes dont la synergie tend à :
			</p><br>

			<p>
				Favoriser le développement et  l’épanouissement des personnes accueillies dans les domaines culturels, cognitifs, affectifs, psychologiques et physiques.<br><br>
				Favoriser   un   gain   d’autonomie   maximale   dans   le   domaine   de   la   vie quotidienne, familiale, sociale et professionnelle à venir.
				<br><br>
				Favoriser la citoyenneté et la participation sociale de la personne accueillie.<br>
				<br>
				Les  missions  de  l’EMP  Henri Wallon  se  résument  donc  à  accompagner  la  personne accueillie   vers une meilleure intégration possible à la communauté humaine, familiale et sociale.
				<br>
				<br>

				Ces missions ont aussi pour vocation de respecter, d’affirmer et promouvoir les Droits de la personne accueillie.


			</p>
		</article><!-- /Article --></body>
</div></body></div><!-- /container --><div id='scroll_to_top' class='opacity'><img src="{{ asset('images/collapse_arrow.svg') }}" alt="Retourner en haut"></div>{% block javascripts %}<script src="{{ asset('js/menu.js') }}"></script>{% endblock %}{% endblock %}
