{% extends 'base.html.twig' %}

{% block title %}presentation
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/recrutement.css') }}"/>

{% endblock %}

{% block body %}
	<body class="home">
		<div class="container">
			<ol class="breadcrumb">
				<li>
					<a href="{{ path('accueil') }}">
						Accueil
					</a>
				</li>
				<li class="active">
					Recrutement
				</li>
			</ol>
			<div class="Nom-asso1">
				<h1 class="Nom-asso2">
					Recrutement
				</h1>
			</div>
			<div class='post_recrut'>
			{% for recrut in recrutements %}
				<h3>{{ recrut.publications.lbpublication }}</h3>
				<h1>{{ recrut.lbTitre }}</h1>
				<p>{{ recrut.lbDescription }}</p>
				<p>du {{ recrut.dateDebut | date('d/m/y') }}
					au {{ recrut.dateFin | date('d/m/y') }}
				</p>


			{% else %}
				<tr>
					<td colspan="8">Nous ne recherchons aucune personne pour le moment.</td>
				</tr>
			{% endfor %}
		</div>
		</div>
	</body>
	<!-- /Article -->
	<div id='scroll_to_top' class='opacity'>
		<img src="{{ asset('images/collapse_arrow.svg') }}" alt="Retourner en haut">
	</div>
	{% block javascripts %}
		<script src="{{ asset('js/menu.js') }}"></script>
	{% endblock %}
</body>{% endblock %}
